In [1]:
mylist = [1,2,3]

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [5]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [6]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [7]:
range(0,11,2)

range(0, 11, 2)

In [8]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [11]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [12]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [13]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [14]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [20]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [21]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [22]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [23]:
'x' in [1,2,3]

False

In [24]:
'x' in ['x','y','z']

True

In [25]:
'a' in 'a world'

True

In [28]:
d = {'mykey':345}

345 in d.keys()

False

In [29]:
mylist = [10,20,30,40,100]

In [30]:
min(mylist)

10

In [31]:
max(mylist)

100

In [32]:
from random import shuffle

In [34]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [37]:
shuffle(mylist)

In [38]:
mylist

[2, 1, 3, 6, 7, 9, 5, 10, 4, 8]

In [39]:
from random import randint

In [41]:
randint(0,100)

73

In [42]:
randint(0,100)

53

In [43]:
mynum = randint(0,10)

In [44]:
mynum

0

In [46]:
result = input('Enter a number here: ')

Enter a number here: 50

In [47]:
result

'50'

In [48]:
result = input('Favorite number: ')

Favorite number: 30

In [49]:
type(result)

str

In [50]:
result

'30'

In [51]:
float(result)

30.0

In [52]:
int(result)

30

In [53]:
result2 = int(input('Favorite number: '))

Favorite number: 30

In [54]:
type(result2)

int